<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../css/registro.css">
    <link href="https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header">
        <!--Menu-->
        <nav class="menu">
            <div class="logo-box">
                <h1><a href="#">Dulces Morita<i class="fas fa-cookie-bite"></i></a></h1>
                <span class="btn-menu"><i class="fas fa-bars"></i></span>
            </div>
    
            <div class="list-container">
                <ul class="lists">
                    <li><a href="../index.html" class="activo">Inicio</a></li>
                    <li><a href="../index.html#as">Nosotros</a></li>
                    <li><a href="../index.html#service">Productos</a></li>
                    <li><a href="../index.html#contact">Contacto</a></li>
                    <li><a href="../index.htmllogin.html">Ingresar</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!--Formulario-->
    <nav class="formulario">
        <div class="box">
            <h2>Registro</h2>
            <form action="">
                <div class="inputBox">
                    <input type="text" name=" " id="" required>
                    <label for="">Nombre de usuario</label> 
                </div>

                <div class="inputBox">
                    <input type="email" name=" " id="" required>
                    <label for="">Correo Electronico</label> 
                </div>

                <div class="inputBox">
                    <input type="password" name=" " id="" required>
                    <label for="">Contraseña</label> 
                </div>

                <div class="inputBox">
                    <input type="password-2" name=" " id="" required>
                    <label for="">Repita su Contraseña <sup>*</sup></label> 
                </div>
                
                <div class="inputBox">
                    <input type="number" name=" " id="" required>
                    <label for="">Numero de Celular</label> 
                </div>
                <div class="inputBox">
                    <input type="text" name=" " id="" required="">
                    <label for="">Direccion</label> 
                </div>
            
                <input type="submit" name="" value="Registrarse">
            </form>
        </div>
    </nav>
    <script src="https://kit.fontawesome.com/35db202371.js"></script>
</body>
</html>